<%= render 'shared/errors', obj: @category %>

<div class="row justify-content-center">
  <div class="col-lg-7">
    <%= form_for(@category, html: { class: "panel-card", role: "form" }) do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", placeholder: "Category name", autofocus: true %>
      </div>
      <div class="d-flex gap-2 flex-wrap">
        <%= f.submit class: 'btn btn-primary btn-lg' %>
        <%= link_to "Back to articles", articles_path, class: "btn btn-quiet btn-lg" %>
      </div>
    <% end %>
  </div>
</div>

    
